// ПОДКЛЮЧЕНИЕ ШРИФТОВ  =====================================
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
// ПОДКЛЮЧЕНИЕ ШРИФТОВ  =====================================

// ШРИФТ ПО УМОЛЧАНИЮ  =====================================
$fontFamily: "Roboto";
// ШРИФТ ПО УМОЛЧАНИЮ  =====================================

// ОБНУЛЕНИЕ  =====================================
@import "null";
// ОБНУЛЕНИЕ  =====================================

// ПЕРЕМЕННЫЕ =====================================
$mw: 1280;
$mw2: 1062;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// ПЕРЕМЕННЫЕ =====================================

// ОБЩИЕ ПАРАМЕТРЫ =====================================
body {
	color: #fff;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
// ОБЩИЕ ПАРАМЕТРЫ =====================================

// ОБОЛОЧКА =====================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
// ОБОЛОЧКА =====================================

// ОСНОВНАЯ СЕТКА =====================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	position: relative;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
.container-2 {
	max-width: ($mw2 + 30) + px;
	margin: 0 auto;
	position: relative;
	padding: 0px 15px;
}
// ОСНОВНАЯ СЕТКА =====================================

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ =====================================
@import "forms";
@import "header";
@import "footer";
// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ =====================================

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}

.btn {
	height: 46px;
	font-size: 14px;
	font-weight: 700;
	line-height: 44px;
	text-transform: uppercase;
	color: #fff;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background-color: #00afdb;
	padding: 0px 48px;
	transition: all 0.3s linear 0s;
	position: relative;
	span {
		position: relative;
		z-index: 1;
	}
	&:hover:after {
		background-color: #009cc2;
		transform: scale(1);
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all 0.3s linear 0s;
		transform: scale(0);
	}
}

.block {
	&__repeat {
		padding: 120px 0px 140px 0px;
		@media (max-width: 900px) {
			padding: 50px 0px;
		}
		@media (max-width: $md4+px) {
			padding: 30px 0px;
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 900px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__content {
		flex: 0 1 407px;
		@media (max-width: 900px) {
			margin: 0px 0px 30px 0px;
			flex: 0 1 auto;
		}
	}
	&__img {
		flex: 0 1 407px;
		padding-bottom: 55%;
		max-width: 407px;
		width: 100%;
		@media (max-width: $md4+px) {
			padding-bottom: 100%;
			max-width: none;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 0px 0px 20px 0px;
		text-transform: uppercase;
		color: #373737;
		max-width: 370px;
		@media (max-width: 900px) {
			max-width: none;
		}
	}
	&__text {
		margin: 0px 0px 30px 0px;
		line-height: 1.4;
		color: #4e4e4e;
		span {
			font-weight: 500;
			color: #373737;
		}
	}
}

// MAINBLOCK =============================================================

.mainblock {
	min-height: 100vh;
	padding: 80px 0px 90px 0px;
	position: relative;
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	&__content {
		flex: 1 1 auto;
		position: relative;
		z-index: 1;
		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
	&__title {
		font-size: 64px;
		letter-spacing: 4.5px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		@media (max-width: $md3+px) {
			font-size: 50px;
		}
		@media (orientation: landscape) and (max-width: $md3+px) {
			font-size: 35px;
			margin: 0px 0px 10px 0px;
		}
	}
	&__text {
		max-width: 460px;
		margin: 0px 0px 35px 0px;
		font-size: 18px;
		line-height: 1.4;
		color: #ffffff;
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
		@media (orientation: landscape) and (max-width: $md3+px) {
			font-size: 14px;
			margin: 0px 0px 15px 0px;
		}
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	@media (max-width: $md3+px) {
		padding: 60px 0px 50px 0px;
	}
	@media (orientation: landscape) and (max-width: 926px) {
		padding: 60px 0px 20px 0px;
	}
}

.social {
	&__mainblock {
		position: absolute;
		bottom: 0;
	}
	&__list {
		display: flex;
		li {
			margin: 0px 15px;
			transition: all 0.3s linear 0s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

// DESIGN =============================================================

.design {
}

// COMMUNITY =============================================================

.community {
	padding: 82px 0 140px 0px;
	background-color: #f5f6f7;
	position: relative;
	@media (max-width: $md3+px) {
		padding: 50px 0px;
	}
	@media (min-width: $md3+px) {
		display: flex;
		align-items: center;
	}
	&__content {
		flex: 0 0 100%;
		@media (max-width: $md3+px) {
			margin: 0px 0px 50px 0px;
		}
	}
	& .swiper-pagination-fraction {
		top: 0;
		font-size: 16px;
		color: #373737;
	}
}
.info {
	@media (min-width: $md3+px) {
		width: 100%;
	}
	text-align: center;
	&__wrapper {
		max-width: 300px;
		@media (max-width: $md3+px) {
			margin: 0 auto;
		}
	}
	&__user {
		margin: 0px 0px 20px 0px;
	}
	&__title {
		margin: 0px 0px 10px 0px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: 2.4px;
		color: #373737;
		text-transform: uppercase;
	}
	&__text {
		line-height: 1.4;
		color: #4e4e4e;
	}

	& .swiper-pagination-fraction {
		width: auto;
		left: auto;
		right: 0;
		top: -60px;
		height: 16px;
		transform: translateX(-10px);
		@media (max-width: $md3+px) {
			top: 195px;
		}
	}
}
.community-slider {
	position: relative;
	@media (min-width: $md3+px) {
		flex: 0 0 calc(((100vw - 40px) * 0.6) + 15px);
		transform: translateX(-100%);
		min-width: 0;
	}
	&__image {
		img {
			max-width: 100%;
		}
	}
	@media (min-width: 1092px) {
		flex: 0 0 calc(50vw - (0.4 - 0.5) * (1092px - 30px));
	}
}

// IMPLEMENT =============================================================

.implement {
	&__body {
		max-width: 954px;
	}

	&__img {
		@media (max-width: 900+px) {
			order: 1;
		}
	}

	&__content {
		@media (max-width: 900+px) {
			order: 0;
		}
	}
}

// SIGN =============================================================

.sign {
	padding: 200px 0px 220px 0px;
	background: #333 url(../img/signup/signup.jpg) no-repeat center;
	background-size: cover;
	@media (max-width: $md3+px) {
		padding: 60px 0px;
	}
	&__body {
		margin: 0 auto;
		max-width: 381px;
	}

	&__title {
		margin: 0px 0px 30px 0px;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #ffffff;
		text-transform: uppercase;
		@media (max-width: 400px) {
			font-size: 18px;
		}
	}

	.form {
		display: flex;
		.input {
			color: #373737;
		}
		.sign__btn {
			max-width: 66px;
			padding: 16px 25px;
			span {
				display: flex;
				align-items: center;
			}
		}
	}
}

// DOWNLOAD =============================================================

.download {
	background-color: #f5f6f7;
	padding: 120px 0px;
	@media (max-width: $md3+px) {
		padding: 60px 0px;
	}
	&__body {
		text-align: center;
		max-width: 480px;
		margin: 0 auto;
	}

	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #373737;
	}

	&__text {
		margin: 0px 0px 30px 0px;
		font-size: 14px;
		line-height: 1.4;
		color: #4e4e4e;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		max-width: 404px;
		margin: 0 auto;
		@media (max-width: 430px) {
			display: inline-flex;
			flex-direction: column;
		}
	}

	&__link {
		@media (max-width: 430px) {
			&:last-child {
				margin: 25px 0px 0px 0px;
			}
		}
	}

	&__btn {
		&:after {
			display: none;
		}
	}
}
.btn {
	&__block {
		display: flex;
		padding: 0;
		line-height: 17px;
	}

	&__block-name {
		max-width: 127px;
		padding: 0px 19px;
		background-color: #00afdb;
		white-space: nowrap;
		line-height: 44px;
	}

	&__block-logo {
		max-width: 59px;
		padding: 0px 21px;
		background-color: #009cc2;
		display: flex;
		align-items: center;
	}
}
